In [1]:
import numpy as np
import pandas as pd

In [2]:
df3=pd.read_csv("C:\\Users\\jinsm\\Desktop\\파이썬프로젝트\\데이터_방문객관련\\20231120085133_양양군_방문자 성연령별 분포.csv",encoding='cp949')

In [3]:
df3

   방문자 연령  방문자 비율(남성)  방문자 비율(여성)
0  70세 이상         2.6         2.4
1  60~69세         8.0         6.4
2  50~59세        11.1         9.2
3  40~49세        10.4         8.1
4  30~39세         9.7         8.6
5  20~29세         9.0         8.3
6  10~19세         2.5         2.3
7    0~9세         0.6         0.7

In [4]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   방문자 연령      8 non-null      object
 1   방문자 비율(남성)  8 non-null      float64
 2   방문자 비율(여성)  8 non-null      float64
dtypes: float64(2), object(1)
memory usage: 324.0+ bytes

In [5]:
#컬럼 이름 간소화
df3.columns=["방문자연령","남성비율","여성비율"]
df3

    방문자연령  남성비율  여성비율
0  70세 이상   2.6   2.4
1  60~69세   8.0   6.4
2  50~59세  11.1   9.2
3  40~49세  10.4   8.1
4  30~39세   9.7   8.6
5  20~29세   9.0   8.3
6  10~19세   2.5   2.3
7    0~9세   0.6   0.7

In [6]:
df3.to_csv('20231120085133_양양군_방문자 성연령별 분포.csv')