In [2]:
pip install pandas openpyxl

Requirement already satisfied: pandas in /Users/Star1/anaconda3/lib/python3.11/site-packages (2.2.1)
Requirement already satisfied: openpyxl in /Users/Star1/anaconda3/lib/python3.11/site-packages (3.1.2)
Requirement already satisfied: numpy<2,>=1.23.2 in /Users/Star1/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Star1/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/Star1/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Users/Star1/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in /Users/Star1/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /Users/Star1/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [66]:
import pandas as pd

df = pd.read_excel('2024-2_과목별_20250120.xlsx')

df.head(5)

,No.,년도,학기,캠퍼스,조직코드,개설전공코드,조직,단과 및 석/박,학과 및 전공,사번,...,H3\nSum,H4\nSum,H5\nSum,H6\nSum,H7\nSum,H8\nSum,H2~8\n합계,과목 수,B14\nYes합계,B14\nYes비율
0,1,2024,2,H1,A,A0A01,학부,AI융합대학,Language & AI융합전공,2024108,...,0,0,0,0,0,0,0,1,30,88.235294
1,2,2024,2,H1,A,A0A01,학부,AI융합대학,Language & AI융합전공,2024109,...,0,0,0,0,0,0,0,1,32,91.428571
2,3,2024,2,H1,A,A0A01,학부,AI융합대학,Language & AI융합전공,2024108,...,0,0,0,0,0,0,0,1,19,95.000000
3,4,2024,2,H1,A,A0A01,학부,AI융합대학,Language & AI융합전공,2024019,...,278,310,297,290,294,303,2070,1,62,91.176471
4,5,2024,2,H1,A,A0B01,학부,AI융합대학,Social Science & AI융합전공,2016056,...,0,0,0,0,0,0,0,1,21,95.454545

In [67]:
import pandas as pd
from openpyxl import Workbook
from openpyxl.styles import Alignment, Font, Border, Side

df.columns = [col.replace(' ', '_') for col in df.columns]

required_columns = ['학과_및_전공', '단과_및_석/박', '사번', '성명', '직종', '영역', '학수번호', '교과목명', '학점', '수강신청\n인원', '강의평가\n적용인원', '강의평가']
data = df[required_columns]
data.rename(columns={'성명':'이름', '수강신청\n인원' :'수강인원', '강의평가\n적용인원':'평가인원'}, inplace=True)

data.head(5)

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_51225/2159871037.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'성명':'이름', '수강신청\n인원' :'수강인원', '강의평가\n적용인원':'평가인원'}, inplace=True)

,학과_및_전공,단과_및_석/박,사번,이름,직종,영역,학수번호,교과목명,학점,수강인원,평가인원,강의평가
0,Language & AI융합전공,AI융합대학,2024108,이재홍,조교수,전공,M03101101,Language&AI개론,3,38,34,4.54
1,Language & AI융합전공,AI융합대학,2024109,박준형,조교수,전공,M03101101,Language&AI개론,3,38,35,4.58
2,Language & AI융합전공,AI융합대학,2024108,이재홍,조교수,전공,M03102101,객체지향프로그래밍,3,21,20,4.87
3,Language & AI융합전공,AI융합대학,2024019,이승일,조교수,전공,M03104101,AI윤리,2,74,68,4.67
4,Social Science & AI융합전공,AI융합대학,2016056,지성욱,교수,전공,M04101101,사회과학과데이터사이언스,3,29,22,3.78

In [68]:
depart_major_avg = data.groupby('학과_및_전공')['강의평가'].mean().round(2).reset_index()
depart_major_avg.rename(columns={'강의평가':'강의평가_학과_평균'}, inplace=True)


college_avg = data.groupby('단과_및_석/박')['강의평가'].mean().round(2).reset_index()
college_avg.rename(columns={'강의평가':'강의평가_단과대학_평균'}, inplace=True)


n_data = pd.merge(data, depart_major_avg, on='학과_및_전공', how='left')

# 원본 데이터프레임에 단과별 평균 병합
n_data = pd.merge(n_data, college_avg, on='단과_및_석/박', how='left')


depart_major_avg.head(10)
college_avg.head(10)

                   단과_및_석/박  강의평가_단과대학_평균
0                    AI융합대학          4.35
1  Culture & Technology융합대학          4.56
2                KFL대학원 교학부          5.00
3                     KFL학부          4.65
4    Language & Diplomacy학부          4.75
5        Language & Trade학부          4.83
6               TESOL대학원교학과          4.76
7                      경상대학          4.60
8                      경영대학          4.57
9                 경영대학원 교학실          4.78

In [69]:
n_data.head(10)
n_data = n_data.query("직종 not in ['교수', '조교수', '부교수']") 

n_data.head(30)

,학과_및_전공,단과_및_석/박,사번,이름,직종,영역,학수번호,교과목명,학점,수강인원,평가인원,강의평가,강의평가_학과_평균,강의평가_단과대학_평균
6,Social Science & AI융합전공,AI융합대학,2024140,최윤우,NaN,전공,M04103101,소셜데이터프로그래밍기초1,3,43,40,4.55,3.94,4.35
8,영미문학·문화학과,영어대학,2023084,Nathan Wil Tilman,외국인조교수,전공,A01135302,영문학과미디어내러티브,3,28,21,4.86,4.67,4.67
9,영미문학·문화학과,영어대학,2010787,강선자,강사,전공,A01168301,영어권에세이,2,28,28,4.69,4.67,4.67
10,영미문학·문화학과,영어대학,2001981,이영심,강사,전공,A01168302,영어권에세이,2,29,28,4.37,4.67,4.67
11,영미문학·문화학과,영어대학,1996043,이동일,명예교수,전공,A01208601,영국문학개관(2),3,14,14,4.02,4.67,4.67
12,영미문학·문화학과,영어대학,2016058,Steven George Mclean,외국인조교수,전공,A01208602,영국문학개관(2),3,28,19,4.72,4.67,4.67
14,영미문학·문화학과,영어대학,2014054,Li Fang,외국인교수,전공,A01214502,현대영국소설,3,22,16,4.56,4.67,4.67
15,영미문학·문화학과,영어대학,2018955,강병희,강사,이중(부)전공,A01214503,현대영국소설,3,12,10,4.98,4.67,4.67
16,영미문학·문화학과,영어대학,2022852,김효선,강사,전공,A01232201,현대미국소설,3,21,19,4.83,4.67,4.67
17,영미문학·문화학과,영어대학,2017010,Paul Tewkesbury,외국인교수,전공,A01232202,현대미국소설,3,28,25,4.83,4.67,4.67
18,영미문학·문화학과,영어대학,2022914,김보식,강사,전공,A01248301,영미문화특강(2),3,27,26,4.05,4.67,4.67
19,영미문학·문화학과,영어대학,2023084,Nathan Wil Tilman,외국인조교수,전공,A01248302,영미문화특강(2),3,30,23,4.89,4.67,4.67
20,영미문학·문화학과,영어대학,2014054,Li Fang,외국인교수,전공,A01269101,문학과글쓰기,3,24,18,4.71,4.67,4.67
21,영미문학·문화학과,영어대학,2014054,Li Fang,외국인교수,전공,A01269102,문학과글쓰기,3,15,11,4.85,4.67,4.67
22,영미문학·문화학과,영어대학,2023084,Nathan Wil Tilman,외국인조교수,이중(부)전공,A01269103,문학과글쓰기,3,20,14,4.85,4.67,4.67
23,영미문학·문화학과,영어대학,2010787,강선자,강사,전공,A01270101,드라마입문(2),3,29,28,4.70,4.67,4.67
24,영미문학·문화학과,영어대학,2007632,도해자,강사,전공,A01270102,드라마입문(2),3,29,23,4.74,4.67,4.67
25,영미문학·문화학과,영어대학,2007632,도해자,강사,이중(부)전공,A01270104,드라마입문(2),3,14,13,4.98,4.67,4.67
27,영미문학·문화학과,영어대학,2022912,이윤종,강사,전공,A01274102,문화와텍스트(2),3,6,5,4.28,4.67,4.67
28,영미문학·문화학과,영어대학,2022823,송윤,강사,전공,A01275101,영.미시입문(2),3,30,23,4.91,4.67,4.67
29,영미문학·문화학과,영어대학,2022914,김보식,강사,전공,A01275102,영.미시입문(2),3,26,24,4.85,4.67,4.67
30,영미문학·문화학과,영어대학,2022073,박선아,객원강의교수,전공,A01275103,영.미시입문(2),3,30,30,4.65,4.67,4.67
31,영미문학·문화학과,영어대학,1997889,박미정,강사,이중(부)전공,A01275104,영.미시입문(2),3,22,18,4.24,4.67,4.67
32,영미문학·문화학과,영어대학,2024943,정혜란,강사,전공,A01276201,영어권소설입문(2),3,28,27,4.47,4.67,4.67
33,영미문학·문화학과,영어대학,2001981,이영심,강사,전공,A01276202,영어권소설입문(2),3,28,25,4.71,4.67,4.67
34,영미문학·문화학과,영어대학,2000679,김지은,강사,전공,A01276203,영어권소설입문(2),3,24,19,4.77,4.67,4.67
35,영미문학·문화학과,영어대학,2016791,성정혜,강사,이중(부)전공,A01276204,영어권소설입문(2),3,10,6,4.95,4.67,4.67
36,영미문학·문화학과,영어대학,2023084,Nathan Wil Tilman,외국인조교수,전공,A01280101,영상문화연구,3,34,27,4.59,4.67,4.67
37,영미문학·문화학과,영어대학,1997889,박미정,강사,전공,A01311601,영국시와문화,3,25,23,4.47,4.67,4.67
38,영미문학·문화학과,영어대학,2003910,염정인,강사,전공,A01311602,영국시와문화,3,20,18,4.87,4.67,4.67

In [ ]:
sample_data = data['사번', '이름', '직종', '영역', '학수번호', '교과목명', '학점', '수강인원', '평가인원', '강의평가']

In [79]:
from openpyxl.styles import Alignment, Font, Border, Side, PatternFill
import os
#이제 각 샘플 데이터 제작

# dep_set=set()
# for dep in data['학과_및_전공']:
#     dep_set.add(dep)
    
# table_data = n_data.drop(columns=['학과_및_전공', '단과_및_석/박', '강의평가_학과_평균', '강의평가_단과대학_평균'])
# table_data.head(5)

cnt= 0
for dep in n_data['학과_및_전공'].unique():
    cnt+=1
    
    dep =dep ##학과 이름
    department_avg = n_data[n_data['학과_및_전공'] == dep]['강의평가_학과_평균'].values[0]

    college = n_data[n_data['학과_및_전공'] == dep]['단과_및_석/박'].values[0]
    college_avg = n_data[n_data['단과_및_석/박'] == college]['강의평가_단과대학_평균'].values[0]
    
    if dep == '특강/분과/공통선택':
        continue
    
    # print(f"학과:{dep} 학과평균: {depart_major_avg} 단과 평균 {college_avg}")

    #학과별 데이터 필터링
    filtered_data = n_data[n_data['학과_및_전공'] == dep]
    table_data = filtered_data.drop(columns=['학과_및_전공', '단과_및_석/박', '강의평가_학과_평균', '강의평가_단과대학_평균'])

    #오름차순진행
    table_data = table_data.sort_values(by='이름', )
    
    # print(table_data)
    
    # Create a new Excel file
    wb = Workbook()
    ws = wb.active
    ws.title = "샘플 데이터"

    # A1:J1 Title
    ws.merge_cells('A1:J1')
    ws['A1'] = "2024학년도 2학기 강의평가 결과"
    ws['A1'].alignment = Alignment(horizontal='center', vertical='center')
    ws['A1'].font = Font(name='Arial', bold=True, size=14)

    # A2: College Name
    ws['A2'] = college
    ws['A2'].font = Font(bold=True)

    # A3: Department Name
    ws['A3'] = dep
    ws['A3'].font = Font(bold=True)

    # A4:J4 Averages
    ws.merge_cells('A4:J4')
    ws['A4'] = (
        f"학부 평균: 4.59 / "
        f"{college} 평균: {college_avg} / "
        f"{dep} 평균: {department_avg}"
    )
    ws['A4'].font = Font(color="FF0000FF")

    # 이제 표 시작!!

    # Headers for the table
    headers = table_data.columns.tolist()
    ws.append([''] * 5)  # 5행 전체를 비움
    ws.append(headers)  # 5번 열을 비우고 6번 열에서 시작

    for col in ws.iter_cols(min_row=6, max_row=6, min_col=1, max_col=len(headers)):
        for cell in col:
            cell.font = Font(bold=True, color="FF000000")  # 검은색 폰트
            cell.alignment = Alignment(horizontal='center', vertical='center')

    # 색상 설정 (색조 22, 채도 15%, 밝기 99%)
    fill_red = PatternFill(start_color="FFF7E6", end_color="FFF7E6", fill_type="solid")
    fill_gray = PatternFill(start_color="D9D9D9", end_color="D9D9D9", fill_type="solid")


    # Append data rows
    for row in table_data.itertuples(index=False):
        ws.append(row)

    # Add borders to all cells
    thin_border = Border(
        left=Side(style='thin'),
        right=Side(style='thin'),
        top=Side(style='thin'),
        bottom=Side(style='thin')
    )
    
        # 강의평가_평점 열의 인덱스 찾기
    eval_col_index = headers.index('강의평가') + 1

    for row in ws.iter_rows(min_row=7, max_row=ws.max_row, min_col=1, max_col=len(headers)):
        for cell in row:
            cell.border = thin_border
            if cell.column == eval_col_index:  # 강의평가 데이터 열에만 색상 적용
                cell.fill = fill_red
                cell.font = Font(bold=True)
                
    # for row in ws.iter_rows(min_row=7, max_row=ws.max_row, min_col=1, max_col=len(headers)+1):
    #     for cell in row:
    #         cell.border = thin_border
    #         if headers[cell.column-1] == '강의평가_평점':  # 강의평가 데이터 열에만 색상 적용
    #             cell.fill = fill_red
    #             cell.font = Font(bold=True)

    for col in ws.iter_cols(min_row=6, max_row= 6, min_col=1, max_col=len(headers)):
        for cell in col:
            cell.fill = fill_gray

    # Save the file
    output_path = f'2024-2_{college}_{dep}_.xlsx'
    

    # # 디렉토리가 존재하지 않으면 생성
    # if not os.path.exists(os.path.dirname(output_path)):
    #     os.makedirs(os.path.dirname(output_path), exist_ok=True)
    #->> 국제지역대학원 교학과  특강/분과/공통선택  학과는 에러나서 이거 제외하고 추출
    
    wb.save(output_path)